# Shared environment defaults
NODE_ENV=development

# Web
WEB_PORT=4200

# API
API_PORT=3000
API_PREFIX=api
JWT_SECRET=replace-this-secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/music_app?schema=public
